.panel
{
    background-color: #3f2f79;
    padding: 20px;
    border-radius: 2%;
    box-shadow: 0 2px 4px rgba(34, 15, 15, 0.1);
    width: 1200px;
    height: 500px;
    border: 2px solid indigo;
    align-items: center;
    padding-left: 200px;
    justify-content: center;

}