.card
{
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    width: 10%;
    align-items: center;
    padding-left: 120px;
}
.card .card-title
{
    font-size: 1.5em;
    margin-bottom: 10px;
}
.card .card-text
{
    font-size: 1em;
    color: #333;
}