.header
{
    background-color: #333;
    color: white;
    padding: 20px;
}
.header .webName
{
    font-size: 3em;
    margin-bottom: 10px;
    text-align: center;
    color: aqua;
}
.header .navItems
{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.header .navItems a
{
    color: white;
    text-decoration: none;
    font-size: 23px;
}